body{
  font-family: "Montserrat";
}
#title{
  background-color: #f7890b;
  color: #fff7e0;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat";
    font-weight:bolder;
}

h2{
  font-weight: bolder;
  font-size: 4rem;
  line-height:1.5;
}

h3{
  font-family: "Montserrat-Bold"


}

p{
  color: #000
}

.big-heading{
  font-family: "Montserrat-Black";
  font-size: 4.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.container-fluid{
  padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight:bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat"
  font-weight:light;
}

.download-button{
  margin: 5% 3% 5% 0;
}

.title-image{
  width: 60%;
  /* transform: rotate(25deg); */
  /* position: absolute; */
  right: 30%;
}

/* Features Section */

#features{
  padding: 7% 15%;
  background-color: #fff7e0;
  position: relative;
  /* z-index: 1; */
}

.feature-box{
  text-align: center;
  padding: 5%;
  font-size: 1.25rem;
}


.icon{
  color: #007500;
  padding-bottom: 1.5rem;
}

.icon:hover{
  color: #ff4c78;
}

.apple-logo{
  padding-right: 5px;
}

.play-logo{
  padding-right: 5px;
  color: #000;
}

/* Testimonial Section */

#testimonials{
  text-align: center;
  background-color: #f7890b;
  color: #fff7e0;

}

.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin:20px;
}

.carousel-item{
    padding: 7% 15%;
}

/* Press section */
#press{
  background-color: #f7890b;
  text-align:center;
}

.press-img{
  width:20%;
  padding:0 3% 3% 3%;
}

#pricing{
  padding:100px;
  text-align: center;
}

.pricing-col{
  padding: 3% 2%;
}

@media (max-width:1028px){
  .title-image{
    position: static;
    transform: rotate(0deg);
  }

  .below-title{
    text-align: center;
  }
}

#cta{
  background-color: #ff4c78;
  color: #fff7e0;
  text-align: center;
  padding: 5% 15%;
}

.cta-heading{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 5rem;


}

#footer{
  text-align: center;
  background-color: #fff;
  padding: 2%;
}

.footer-logo{
  padding:0.5%;
}

.fab{
  padding: 0.5%;
}
